{% extends 'base.html.twig' %}

{% block title %}
  Inscription
{% endblock %}

{% block body %}
  <br /><br /><br />
  <div class="text-center row">
    <div class="col"></div>
    <div class="col">
      <h1>
        Inscription
      </h1>

      {{ form_start(form) }}
      {{ form_widget(form) }}
      <button type="submit" class="btn btn-lg btn-secondary">
        S'inscrire
      </button>
      {{ form_end(form) }}
    </div>
    <div class="col"></div>
  </div>
{% endblock %}
