{% extends 'base.html.twig' %}

{% block body %}
<br><br>
<div class="text-center row">
    <div class="col"></div>
    <h1 class="col">Connexion</h1>
    <div class="col"></div>
</div>
<br><br>
<div class="text-center row">
    <div class="col"></div>
    <div class="col">
        <form action="{{path('user_login') }}" method="post">
            <div class="form-group">
                <input placeholder="Email" required name="_username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Password" required name="_password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-secondary">Connexion</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
    
{% endblock %}