{% extends 'base.html.twig' %}

{% block body %}
<br>
<h2 class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatem doloribus, ea nobis aliquid omnis.</h2>
<br>
<h2 class="mx-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia blanditiis odio maiores? Perspiciatis, libero id.</h2>
{% endblock %}