{% extends 'base.html.twig' %}

{% block body %}
<br>
<h1 class="text-center">{{film.name}}</h1>
<hr><br>
<div class="row">
    <div class="col w-25">
        <img src="{{film.image}}" alt="{{film.name}}">
    </div>
    <div class="col w-75">
        <br><br><br>
        <h2>{{film.description}}</h2>
    </div>
    <div class="col"></div>
</div>
<br><br>
<h1 class="float-left">Notes : {{film.notes}} / 5</h1>
<br><br><br><br>
<h1 class="float-left">Commentaires :</h1>
<br><br><br>
{# Mettre un if admin #}
<a href="{{ path('film_edit', {'id':film.id}) }}" class="btn btn-secondary">Editer</a>
<a href="{{ path('film_del', {'id':film.id}) }}" class="btn btn-secondary">Supprimer</a>
{% endblock %}