{% extends 'base.html.twig' %}

{% form_theme formfilm 'bootstrap_4_layout.html.twig' %}

{% block body %}
  <br /><br />
  <h1 class="text-center">
        {% if editMode %}
            Modifications
        {% else %}
            Création de film
        {% endif %}
  </h1>
  <br /><br />

  <div class="text-center row">
    <div class="col"></div>
    <div class="col">
      {{ form_start(formfilm) }}

      {{ form_widget(formfilm) }}
        
      <button type="submit" class="btn btn-lg btn-secondary">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter le plat
        {% endif %}
      </button>

      {{ form_end(formfilm) }}
    </div>
    <div class="col"></div>
  </div>
{% endblock %}
