{% extends 'base.html.twig' %}

{% block body %}
<div class='mx-5'> 
    <br><hr><br>
    <h1>Liste des films</h1>
    <br><br>
    {% for film in films %}
    <div class="row mx-5">
        <div class="col">
            <a href="{{path('film_show', {'id':film.id})}}" class="text-center">
                <h2 class="row">{{film.Name}}</h2>
                <br>
                <img src="{{film.image}}" alt="{{film.Name}}" class="float-left text-center">
                <h3 class="float-right">{{film.description}}</h3>
                <br>
                <h3 class="row">
                    {{film.notes}} Etoiles / 5
                </h3>
            </a>
        </div>
    </div>
    <br><hr><br>
    {% endfor %}
</div>
{% endblock %}
