<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Movie
      {% endblock %}
    </title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">MovieFilms</a>
        <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor02"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">
                Accueil <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Inscription</a></li>
            <li class="nav-item"><a class="nav-link" href="{{path('about')}}">A propos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Gestion des utilisateurs</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Gestion des films</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                {% if not app.user %}
            <li class="nav-item"><a class="nav-link" href="{{path('user_register')}}">Inscription</a></li>
            <li class="nav-item"><a class="nav-link" href="{{path('user_login')}}">Connexion</a></li>
                {% else %}
            <li class="nav-item"><a class="nav-link" href="{{path('user_logout')}}">Déconnexion</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    {% block body %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
